{{ define "main" }}
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post-item-wrapper post-item-wrapper-no-hover">
            <div class="post-item post-item-no-gaps">
                <div class="post-item-info-wrapper">
                    <div class="post-item-title  post-item-title-small">
                        <a href="{{.FirstSection.Permalink}}">{{.FirstSection.Title}}</a> / {{ .Title }}
                    </div>
                </div>
            </div>
        </div>
        {{- range .Paginator.Pages -}}
        <a href="{{ .RelPermalink }}" class="a-block">
            <div class="post-item-wrapper">
                <div class="post-item post-item-no-gaps">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title">
                            {{.Title}}
                        </div>
                        <div class="post-item-summary">
                          {{.Description}}
                        </div>
                        {{ partial "post-item-meta.html" . }}
                    </div>
                </div>
            </div>
        </a>
        {{- end -}}
    </div>
</div>
{{ end }}
