<head>
<title>{{.Title}}</title>

{{ $description := .Params.description}}
{{if .IsHome}}
  {{ $description = .Site.Params.description}}
{{end}}

<meta charset="utf-8">
<meta name="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="telephone=no" name="format-detection">
<meta name="description" content="{{ $description }}">
<meta name="renderer" content="webkit">
<meta name="theme-color" content="#ffffff">
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}

<!-- open-graph -->
{{if .Site.Params.enableOpenGraph}}
{{ template "_internal/opengraph.html" . }}
{{end}}

<!-- twitter-cards -->
{{if .Site.Params.enableTwitterCards}}
{{ template "_internal/twitter_cards.html" . }}
{{end}}

<!-- metadata -->

{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics.html" . }}
{{ end }}

<link type="text/css" rel="stylesheet" href="{{"/vendor/css/bootstrap.min.css" | relURL}}">
<script src="{{"/vendor/js/vue.min.js" | relURL}}" ></script>

{{if .Site.Params.manifest}}
<link rel="manifest" href="{{.Site.Params.manifest}}">
{{end}}

{{if .Params.canonicalUrl}}
<link rel="canonical" href="{{.Params.canonicalUrl}}" />
{{end}}

<!-- favicon -->
{{ if .Site.Params.favicon }}
<link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
{{ end }}

{{ $styles := resources.Get "scss/journal.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

{{ if not .Site.Params.disableDarkmode }}
{{ $darkmode := resources.Get "scss/dark-mode.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $darkmode.Permalink }}" integrity="{{ $darkmode.Data.Integrity }}" media="screen">
{{ end }}

<script src="{{"/js/loadCSS.js" | relURL}}"></script>
<script>
  loadCSS("https://fonts.googleapis.com/css?family=Fira+Mono|Material+Icons");
</script>

{{ if .Params.enableMathJax }}
  {{ partial "mathjax.html" . }}
{{ end }}

{{ if and (not (.Params.disableToC) ) (.IsPage) }}
  {{ if not .Site.Params.enableAutoCollapse }}
    <script src="{{"/js/toc.js" | relURL}}"></script>
  {{ else }}
    <script src="{{"/vendor/js/jquery.min.js" | relURL}}" ></script>
    <script src="{{"/js/toc-collapse.js" | relURL}}"></script>
    <script src="{{"/vendor/js/bootstrap.min.js" | relURL}}" ></script>
  {{ end }}
{{ end }}

{{ if and (.Site.Params.enableGitalk) (.IsPage) }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script src="{{"/vendor/js/md5.min.js" | relURL}}"></script>
<script>
  var gitalk = new Gitalk({
  clientID: '{{ .Site.Params.Gitalk.client_id }}',
  clientSecret: '{{ .Site.Params.Gitalk.client_secret }}',
  repo: '{{ .Site.Params.Gitalk.repo }}',
  owner: '{{ .Site.Params.Gitalk.owner }}',
  admin: ['{{ .Site.Params.Gitalk.owner }}'],
  id: md5(location.pathname),
  distractionFreeMode: 'false'
  });
  window.onload = function () {
        gitalk.render('gitalk-container')
  }
</script>
{{ end }}

{{ if and (.Site.Params.livereId) (.IsPage) }}
<script type="text/javascript">
$(
  (function(d, s) {
      var j, e = d.getElementsByTagName(s)[0];

      if (typeof LivereTower === 'function') { return; }

      j = d.createElement(s);
      j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
      j.async = true;

      e.parentNode.insertBefore(j, e);
  })(document, 'script'));
</script>
{{ end }}

{{ if and (.Site.Params.enableValine) (.IsPage) }}
<script src='https://unpkg.com/valine@1.4.14/dist/Valine.min.js'></script>
{{ end }}

{{ if and (.Site.Params.disqusShortname) (.IsPage) }}
<script src="https://cdn.jsdelivr.net/npm/vue-disqus@3/dist/vue-disqus.js"></script>
{{ end }}

{{ if and (.Site.Params.enableTwikoo) (.IsPage) }}
<script src="https://cdn.jsdelivr.net/npm/twikoo@1.3.0/dist/twikoo.all.min.js"></script>
{{ end }}

{{ if and (.Site.Params.walineServer) (.IsPage) }}
<script src="//cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js"></script>
{{ end }}

<!-- head custom -->
{{- partial "extended_head.html" . }}

</head>
